In [93]:
import pandas as pd
import numpy as np

In [94]:
train = pd.read_csv("../data/development/train.csv")
test = pd.read_csv("../data/development/test.csv")

In [95]:
train_df = train.drop(columns=['Unnamed: 0'])
test_df = test.drop(columns=['Unnamed: 0'])

In [96]:
# List of LGA_NAME23 values to remove
remove_list = [
    "East Gippsland", 
    "Queenscliffe",
    "West Wimmera"
]

# Remove rows with LGA_NAME23 in remove_list from train_df
train_df = train_df[~train_df['LGA_NAME23'].isin(remove_list)]

# Remove rows with LGA_NAME23 in remove_list from test_df (if needed)
test_df = test_df[~test_df['LGA_NAME23'].isin(remove_list)]

In [97]:
train_df.replace([np.inf, -np.inf], 999, inplace=True)

# Replace inf and -inf in test_df with 999
test_df.replace([np.inf, -np.inf], 999, inplace=True)

In [98]:
train_df

,LGA_NAME23,LGA_CODE23,name,geometry,cost,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,20110,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),270,2.0,1.0,2.0,46.428333,5.346667,38.880000,29.888333,2.526667,2.446667,999.000000,2017,396,13113.0,621.947682
1,Ararat,20260,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),260,3.0,1.0,1.0,2.428333,28.928333,2.536667,999.000000,1.433333,3.033333,999.000000,2017,1249,11613.0,583.176092
2,Ballarat,20570,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),280,3.0,2.0,2.0,7.341667,9.785000,6.483333,24.810000,2.235000,4.776667,999.000000,2017,11885,152520.0,731.935668
3,Banyule,20660,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),395,3.0,1.0,1.0,2.876667,11.215000,9.528333,5.353333,1.760000,2.630000,23.140000,2017,9703,129192.0,573.955394
4,Bass Coast,20740,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),285,3.0,2.0,2.0,86.750000,32.095000,22.930000,39.630000,3.885000,7.376667,116.675000,2017,2613,34166.0,549.541548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,Wodonga,27170,20 Klim Street Killara VIC 3691,POINT (146.8857882 -36.1313959),450.0,3.0,2.0,2.0,10.213333,999.000000,5.975000,81.821667,2.803333,3.890000,999.000000,2023,3750,74233.0,804.199699
549,Wyndham,27260,3 Victor Court Hoppers Crossing VIC 3029,POINT (144.6772403 -37.8273763),480.0,4.0,2.0,2.0,6.440000,12.295000,7.668333,13.736667,2.543333,3.648333,34.695000,2023,18155,685662.0,782.273895
550,Yarra,27350,310/8 Howard Street Richmond VIC 3121,POINT (144.9938461 -37.82125690000001),650.0,2.0,1.0,1.0,3.283333,6.468333,4.310000,4.795000,1.603333,1.371667,9.305000,2023,13415,153858.0,1488.804350
551,Yarra Ranges,27450,315 MACCLESFIELD ROAD Macclesfield VIC 3782,POINT (145.3260355 -37.75560160000001),530.0,3.0,2.0,2.0,4.188333,15.453333,6.746667,9.856667,2.313333,3.796667,44.118333,2023,7130,166556.0,576.773200
552,Yarriambiack,27630,38 Gardiner Street Warracknabeal VIC 3393,POINT (142.3997483 -36.2585611),320.0,3.0,1.0,1.0,30.728333,60.416667,42.666667,31.628333,1.580000,3.083333,999.000000,2023,436,6338.0,686.792950

In [99]:
test_df

,LGA_NAME23,LGA_CODE23,name,geometry,cost,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,20110,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),NaN,2.0,1.0,2.0,46.428333,5.346667,38.880000,29.888333,2.526667,2.446667,999.000000,2024,NaN,13547.0,899.635833
1,Ararat,20260,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),NaN,3.0,1.0,1.0,2.428333,28.928333,2.536667,999.000000,1.433333,3.033333,999.000000,2024,NaN,11884.0,764.993354
2,Ballarat,20570,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),NaN,3.0,2.0,2.0,7.341667,9.785000,6.483333,24.810000,2.235000,4.776667,999.000000,2024,NaN,169198.0,980.445606
3,Banyule,20660,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),NaN,3.0,1.0,1.0,2.876667,11.215000,9.528333,5.353333,1.760000,2.630000,23.140000,2024,NaN,138961.0,824.611943
4,Bass Coast,20740,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),NaN,3.0,2.0,2.0,86.750000,32.095000,22.930000,39.630000,3.885000,7.376667,116.675000,2024,NaN,39431.0,717.487857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Wodonga,27170,20 Klim Street Killara VIC 3691,POINT (146.8857882 -36.1313959),NaN,3.0,2.0,2.0,10.213333,999.000000,5.975000,81.821667,2.803333,3.890000,999.000000,2026,NaN,77804.0,870.207773
233,Wyndham,27260,3 Victor Court Hoppers Crossing VIC 3029,POINT (144.6772403 -37.8273763),NaN,4.0,2.0,2.0,6.440000,12.295000,7.668333,13.736667,2.543333,3.648333,34.695000,2026,NaN,778022.0,864.232258
234,Yarra,27350,310/8 Howard Street Richmond VIC 3121,POINT (144.9938461 -37.82125690000001),NaN,2.0,1.0,1.0,3.283333,6.468333,4.310000,4.795000,1.603333,1.371667,9.305000,2026,NaN,164835.0,1716.588015
235,Yarra Ranges,27450,315 MACCLESFIELD ROAD Macclesfield VIC 3782,POINT (145.3260355 -37.75560160000001),NaN,3.0,2.0,2.0,4.188333,15.453333,6.746667,9.856667,2.313333,3.796667,44.118333,2026,NaN,171416.0,636.681223
236,Yarriambiack,27630,38 Gardiner Street Warracknabeal VIC 3393,POINT (142.3997483 -36.2585611),NaN,3.0,1.0,1.0,30.728333,60.416667,42.666667,31.628333,1.580000,3.083333,999.000000,2026,NaN,6174.0,793.026477

# Modelling without Offence Count

In [100]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

# Splitting the data based on the year
train_subset = train_df[train_df['year'] < 2023]
validation_subset = train_df[train_df['year'] == 2023]

X_train_subset = train_subset.drop(columns=['cost', 'Offence Count'])
y_train_subset = train_subset['cost']

X_val = validation_subset.drop(columns=['cost', 'Offence Count'])
y_val = validation_subset['cost']

# Identify categorical and numerical columns
categorical_cols = [cname for cname in X_train_subset.columns if X_train_subset[cname].dtype == "object"]
numerical_cols = [cname for cname in X_train_subset.columns if X_train_subset[cname].dtype in ['int64', 'float64'] and cname != 'year']


# Manually scale data by year
X_train_scaled = X_train_subset.copy()
for year in X_train_scaled['year'].unique():
    subset_indices = X_train_scaled[X_train_scaled['year'] == year].index
    mean = X_train_subset.loc[subset_indices, numerical_cols].mean()
    std = X_train_subset.loc[subset_indices, numerical_cols].std()
    X_train_scaled.loc[subset_indices, numerical_cols] = (X_train_subset.loc[subset_indices, numerical_cols] - mean) / std

X_val_scaled = X_val.copy()
for year in X_val['year'].unique():
    subset_indices = X_val[X_val['year'] == year].index
    if year in X_train_subset['year'].unique():
        mean = X_train_subset[X_train_subset['year'] == year][numerical_cols].mean()
        std = X_train_subset[X_train_subset['year'] == year][numerical_cols].std()
        X_val_scaled.loc[subset_indices, numerical_cols] = (X_val.loc[subset_indices, numerical_cols] - mean) / std

# Preprocessing for numerical data: only impute missing values now
numerical_transformer = SimpleImputer(strategy='mean')

# Preprocessing for categorical data: impute missing values and apply one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Model definition
model = LinearRegression()

# Main pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', model)
])

# Train the model using the scaled data
pipeline.fit(X_train_scaled, y_train_subset)

# Predict on the scaled validation set
val_preds = pipeline.predict(X_val_scaled)

# Compute RMSE for the validation set
rmse_val = mean_squared_error(y_val, val_preds, squared=False)
print(f"Validation RMSE: {rmse_val}")

Validation RMSE: 19976636.213547576

In [101]:
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

# Main pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', rf_regressor)
])

# Train the model using the scaled data
pipeline.fit(X_train_scaled, y_train_subset)

# Predict on the scaled validation set
val_preds = pipeline.predict(X_val_scaled)

# Compute RMSE for the validation set
rmse_val = mean_squared_error(y_val, val_preds, squared=False)
print(f"Validation RMSE: {rmse_val}")

Validation RMSE: 172.17454271526472

In [102]:
from sklearn.feature_selection import mutual_info_regression
# Compute mutual information between each feature and the target
X_train_numerical = X_train_scaled[numerical_cols]

# Compute mutual information between each numerical feature and the target
mi = mutual_info_regression(X_train_numerical, y_train_subset)

# Convert to a Series for easier visualization
mi_series = pd.Series(mi, index=X_train_numerical.columns)

In [103]:
mi_series

LGA_CODE23             0.177853
beds                   0.070156
baths                  0.070810
parkings               0.030851
Nearest_station        0.135574
Nearest_park           0.201004
Nearest_shop           0.272126
Nearest_hospital       0.206520
Nearest_school         0.192568
Nearest_supermarket    0.218597
distance_to_cbd        0.485682
population             0.488944
weekly_income          0.381021
dtype: float64

# Modelling include Offence Count

In [104]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

# Splitting the data based on the year
train_subset = train_df[train_df['year'] < 2023]
validation_subset = train_df[train_df['year'] == 2023]

X_train_subset = train_subset.drop(columns=['cost'])
y_train_subset = train_subset['cost']

X_val = validation_subset.drop(columns=['cost'])
y_val = validation_subset['cost']

# Identify categorical and numerical columns
categorical_cols = [cname for cname in X_train_subset.columns if X_train_subset[cname].dtype == "object"]
numerical_cols = [cname for cname in X_train_subset.columns if X_train_subset[cname].dtype in ['int64', 'float64'] and cname != 'year']


# Manually scale data by year
X_train_scaled = X_train_subset.copy()
for year in X_train_scaled['year'].unique():
    subset_indices = X_train_scaled[X_train_scaled['year'] == year].index
    mean = X_train_subset.loc[subset_indices, numerical_cols].mean()
    std = X_train_subset.loc[subset_indices, numerical_cols].std()
    X_train_scaled.loc[subset_indices, numerical_cols] = (X_train_subset.loc[subset_indices, numerical_cols] - mean) / std

X_val_scaled = X_val.copy()
for year in X_val['year'].unique():
    subset_indices = X_val[X_val['year'] == year].index
    if year in X_train_subset['year'].unique():
        mean = X_train_subset[X_train_subset['year'] == year][numerical_cols].mean()
        std = X_train_subset[X_train_subset['year'] == year][numerical_cols].std()
        X_val_scaled.loc[subset_indices, numerical_cols] = (X_val.loc[subset_indices, numerical_cols] - mean) / std

# Preprocessing for numerical data: only impute missing values now
numerical_transformer = SimpleImputer(strategy='mean')

# Preprocessing for categorical data: impute missing values and apply one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Model definition
model = LinearRegression()

# Main pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', model)
])

# Train the model using the scaled data
pipeline.fit(X_train_scaled, y_train_subset)

# Predict on the scaled validation set
val_preds = pipeline.predict(X_val_scaled)

# Compute RMSE for the validation set
rmse_val = mean_squared_error(y_val, val_preds, squared=False)
print(f"Validation RMSE: {rmse_val}")

Validation RMSE: 21956465.70128607

In [105]:
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

# Main pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', rf_regressor)
])

# Train the model using the scaled data
pipeline.fit(X_train_subset, y_train_subset)

# Predict on the scaled validation set
val_preds = pipeline.predict(X_val)

# Compute RMSE for the validation set
rmse_val = mean_squared_error(y_val, val_preds, squared=False)
print(f"Validation RMSE: {rmse_val}")

Validation RMSE: 105.9011009087451

In [106]:
X_train_scaled

,LGA_NAME23,LGA_CODE23,name,geometry,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,-1.797265,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),-1.268238,-0.716350,0.970081,0.150196,-0.345287,1.421184,-0.199576,0.176703,-0.481928,1.074283,2017,-0.917063,-0.814034,-0.190929
1,Ararat,-1.727677,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),0.311862,-0.716350,-0.920333,-0.233395,-0.222005,-0.860029,4.861186,-0.864263,-0.395238,1.074283,2017,-0.799536,-0.827171,-0.448354
2,Ballarat,-1.583862,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),0.311862,1.377597,0.970081,-0.190560,-0.322084,-0.612303,-0.226095,-0.100994,-0.137629,1.074283,2017,0.665899,0.406924,0.539337
3,Banyule,-1.542109,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),0.311862,-0.716350,-0.920333,-0.229486,-0.314608,-0.421173,-0.327699,-0.553243,-0.454838,-0.957557,2017,0.365262,0.202612,-0.509575
4,Bass Coast,-1.504995,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),0.311862,1.377597,0.970081,0.501720,-0.205451,0.420028,-0.148704,1.469975,0.246569,-0.762807,2017,-0.611603,-0.629647,-0.671670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,Wodonga,1.478014,20 Klim Street Killara VIC 3691,POINT (146.8857882 -36.1313959),0.311862,1.377597,0.970081,-0.165525,4.849374,-0.644210,0.071623,0.440118,-0.268650,1.074283,2022,-0.395406,-0.343053,-0.125060
470,Wyndham,1.519767,3 Victor Court Hoppers Crossing VIC 3029,POINT (144.6772403 -37.8273763),1.891961,1.377597,0.970081,-0.198421,-0.308962,-0.537922,-0.283921,0.192571,-0.304360,-0.933498,2022,1.584013,3.775153,-0.260850
471,Yarra,1.561520,310/8 Howard Street Richmond VIC 3121,POINT (144.9938461 -37.82125690000001),-1.268238,-0.716350,-0.920333,-0.225941,-0.339423,-0.748720,-0.330615,-0.702405,-0.640779,-0.986363,2022,0.851796,0.202873,3.122911
472,Yarra Ranges,1.607912,315 MACCLESFIELD ROAD Macclesfield VIC 3782,POINT (145.3260355 -37.75560160000001),0.311862,1.377597,0.970081,-0.218051,-0.292451,-0.595774,-0.304182,-0.026412,-0.282441,-0.913878,2022,0.173685,0.308027,-1.274501
473,Yarriambiack,1.691418,38 Gardiner Street Warracknabeal VIC 3393,POINT (142.3997483 -36.2585611),0.311862,-0.716350,-0.920333,0.013324,-0.057389,1.658867,-0.190489,-0.724621,-0.387849,1.074283,2022,-0.913289,-0.814815,-0.781748

In [107]:
y_train_subset

0      270
1      260
2      280
3      395
4      285
      ...
469    418
470    400
471    525
472    470
473    300
Name: cost, Length: 456, dtype: object

In [108]:
# Assuming your dataframe is named train_df

# Drop non-numeric columns for simplicity (or you can encode them if needed)
numeric_train_df = train_df.select_dtypes(include=['int64', 'float64'])

# Separate features and target
X = numeric_train_df.drop(columns=['Offence Count'])
y = numeric_train_df['Offence Count']

# Compute mutual information
mi = mutual_info_regression(X, y)

# Create a Series for visualization
mi_series = pd.Series(mi, index=X.columns)

In [109]:
mi_series

LGA_CODE23             1.773117
beds                   0.196058
baths                  0.157365
parkings               0.189052
Nearest_station        0.856054
Nearest_park           1.003454
Nearest_shop           1.518303
Nearest_hospital       0.939648
Nearest_school         1.440155
Nearest_supermarket    1.104435
distance_to_cbd        0.571612
year                   0.000000
population             1.575454
weekly_income          0.215669
dtype: float64

# Prediction for Offence Count in future three years

In [110]:
oc_train = train_df[['population', 'Nearest_shop', 'LGA_CODE23', 'Nearest_school', 'Nearest_supermarket', 'year']]
y = train_df['Offence Count']

rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
rf_regressor.fit(oc_train, y)

RandomForestRegressor(random_state=42)

In [111]:
oc_predict = test_df[['population', 'Nearest_shop', 'LGA_CODE23', 'Nearest_school', 'Nearest_supermarket', 'year']]
y = rf_regressor.predict(oc_predict)

In [112]:
y

array([  483.81,  1440.78, 10813.43,  8373.53,  2984.93,  4294.97,
        5019.95,  1399.23,  8118.59, 17213.53,   372.87,  3504.91,
       10342.16, 20848.26,  1163.44,  1571.32,   711.89, 13336.26,
       12730.8 ,   815.03,  7103.13,  1547.26,   661.18, 10819.68,
       17067.17, 20403.9 ,  8997.39,   633.78,   365.68,  5976.09,
        2429.07, 18432.65,   682.56, 10625.04,  9887.99, 11589.23,
         458.77,  2185.59,  6785.82,   508.2 ,  8757.9 ,  7769.45,
       34653.87, 12444.  , 21243.76,  7230.57,  3977.  ,  2214.07,
       12380.97,  7807.98,  2600.3 ,  9733.37,   966.83,   645.17,
         758.01,  1758.12,   993.25, 12414.57,   422.49,  1880.87,
        1195.1 , 11082.  ,   581.89,  2297.47,  2277.65,   182.73,
        2580.43,  3090.03,  4408.71,  8130.2 , 13270.85,  3705.09,
       16977.57, 12761.4 ,  7311.82,   413.19,   483.81,  1440.78,
       10691.15,  8458.79,  2984.93,  4294.97,  5088.68,  1399.23,
        8073.35, 17167.97,   372.87,  3405.79, 16079.26, 20848.26,
        1163.44,  1571.32,   711.89, 13336.26, 12586.43,   815.03,
        7103.13,  1547.26,   708.98, 10819.68, 16950.75, 20403.9 ,
        9012.42,   633.78,   365.72,  6195.74,  2429.07, 18432.65,
         682.56, 10625.04,  9869.3 , 11589.23,   454.27,  2450.93,
        6811.16,   787.4 ,  8742.38,  7750.03, 34653.87, 12444.  ,
       21255.11,  7230.57,  3985.8 ,  2214.07, 12429.78,  7807.98,
        2610.08,  9733.37,   966.83,   646.24,   758.01,  1758.12,
         942.39, 12328.73,   422.49,  1880.87,  1195.1 , 11090.06,
         580.42,  2521.14,  2277.65,   182.73,  2581.15,  3210.64,
        4408.71,  8096.26, 13270.85,  3705.09, 16977.57, 12762.62,
        7311.82,   364.27,   483.81,  1440.78, 10673.26,  8482.47,
        3094.39,  4162.81,  5088.68,  1399.23,  8097.76, 17099.12,
         372.87,  3400.75, 16061.34, 20848.26,  1163.44,  1571.32,
         711.89, 13336.26, 12250.4 ,   798.21,  7103.13,  1547.26,
         727.17, 10751.14, 16950.75, 20405.94,  9039.1 ,   633.78,
         364.69,  6178.84,  2429.07, 18432.65,   682.56, 10625.04,
        9869.3 , 11589.23,   450.54,  2471.93,  6822.19,   791.01,
        8738.67,  7922.89, 34653.87, 12444.  , 21255.11,  7230.57,
        4072.52,  2214.07, 12413.55,  8187.91,  2610.08,  9790.41,
         966.83,   645.28,   758.01,  1758.12,   945.25, 12246.48,
         422.49,  1856.24,  1195.1 , 11001.49,   580.42,  2848.1 ,
        2277.65,   182.73,  2581.15,  3293.58,  4408.71,  8088.32,
       13270.85,  3705.09, 16977.57, 12760.28,  7311.82,   361.74])

# fill in the offence count data for future three years

In [113]:
test_df['Offence Count'] = y

In [114]:
train_df.head()

,LGA_NAME23,LGA_CODE23,name,geometry,cost,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,20110,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),270,2.0,1.0,2.0,46.428333,5.346667,38.880000,29.888333,2.526667,2.446667,999.000,2017,396,13113.0,621.947682
1,Ararat,20260,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),260,3.0,1.0,1.0,2.428333,28.928333,2.536667,999.000000,1.433333,3.033333,999.000,2017,1249,11613.0,583.176092
2,Ballarat,20570,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),280,3.0,2.0,2.0,7.341667,9.785000,6.483333,24.810000,2.235000,4.776667,999.000,2017,11885,152520.0,731.935668
3,Banyule,20660,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),395,3.0,1.0,1.0,2.876667,11.215000,9.528333,5.353333,1.760000,2.630000,23.140,2017,9703,129192.0,573.955394
4,Bass Coast,20740,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),285,3.0,2.0,2.0,86.750000,32.095000,22.930000,39.630000,3.885000,7.376667,116.675,2017,2613,34166.0,549.541548

In [115]:
test_df.head()

,LGA_NAME23,LGA_CODE23,name,geometry,cost,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,20110,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),NaN,2.0,1.0,2.0,46.428333,5.346667,38.880000,29.888333,2.526667,2.446667,999.000,2024,483.81,13547.0,899.635833
1,Ararat,20260,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),NaN,3.0,1.0,1.0,2.428333,28.928333,2.536667,999.000000,1.433333,3.033333,999.000,2024,1440.78,11884.0,764.993354
2,Ballarat,20570,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),NaN,3.0,2.0,2.0,7.341667,9.785000,6.483333,24.810000,2.235000,4.776667,999.000,2024,10813.43,169198.0,980.445606
3,Banyule,20660,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),NaN,3.0,1.0,1.0,2.876667,11.215000,9.528333,5.353333,1.760000,2.630000,23.140,2024,8373.53,138961.0,824.611943
4,Bass Coast,20740,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),NaN,3.0,2.0,2.0,86.750000,32.095000,22.930000,39.630000,3.885000,7.376667,116.675,2024,2984.93,39431.0,717.487857

In [116]:
train_df.columns

Index(['LGA_NAME23', 'LGA_CODE23', 'name', 'geometry', 'cost', 'beds', 'baths',
       'parkings', 'Nearest_station', 'Nearest_park', 'Nearest_shop',
       'Nearest_hospital', 'Nearest_school', 'Nearest_supermarket',
       'distance_to_cbd', 'year', 'Offence Count', 'population',
       'weekly_income'],
      dtype='object')

In [117]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

X_train = train_df.drop(columns=['cost'])
y_train = train_df['cost']

X_test = test_df.drop(columns=['cost'])
y_test = test_df['cost']

# Identify categorical and numerical columns
categorical_cols = [cname for cname in X_train.columns if X_train[cname].dtype == "object"]
numerical_cols = [cname for cname in X_train.columns if X_train[cname].dtype in ['int64', 'float64'] and cname != 'year']


# Manually scale data by year
X_train_scaled = X_train.copy()
for year in X_train_scaled['year'].unique():
    subset_indices = X_train_scaled[X_train_scaled['year'] == year].index
    mean = X_train.loc[subset_indices, numerical_cols].mean()
    std = X_train.loc[subset_indices, numerical_cols].std()
    X_train_scaled.loc[subset_indices, numerical_cols] = (X_train.loc[subset_indices, numerical_cols] - mean) / std

X_test_scaled = X_test.copy()
for year in X_test['year'].unique():
    subset_indices = X_test[X_test['year'] == year].index
    if year in X_train['year'].unique():
        mean = X_train[X_train['year'] == year][numerical_cols].mean()
        std = X_train[X_train['year'] == year][numerical_cols].std()
        X_test_scaled.loc[subset_indices, numerical_cols] = (X_test.loc[subset_indices, numerical_cols] - mean) / std


# Preprocessing for categorical data: impute missing values and apply one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_cols)
    ])

# Model definition
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Main pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', model)
])

# Train the model using the scaled data
pipeline.fit(X_train_scaled, y_train)

# Predict on the scaled validation set
val_preds = pipeline.predict(X_test_scaled)

In [118]:
val_preds

array([334.20677165, 303.3527399 , 339.91549512, 433.16255772,
       356.43227647, 370.597944  , 622.62291583, 319.78771492,
       478.6391514 , 373.58155844, 214.3147931 , 320.21860154,
       401.69513709, 417.23545455, 278.90059577, 335.76439519,
       286.29519862, 414.95703852, 400.35803447, 236.72075205,
       462.35911075, 302.58962121, 430.94474428, 354.76305403,
       376.9999642 , 396.10264777, 324.68108225, 369.58336941,
       222.65137807, 426.68842163, 303.01843157, 403.837887  ,
       352.27797827, 456.79704129, 440.23663942, 294.02443695,
       252.32367396, 445.42549062, 489.96372572, 388.46703499,
       414.96114899, 432.9695714 , 468.92458958, 385.92794775,
       422.03353972, 321.04977861, 372.15077478, 317.57025364,
       463.86137216, 421.95143745, 379.52769342, 453.41513853,
       378.69982051, 338.21623973, 323.40630751, 442.04825952,
       247.10667582, 467.95371642, 278.33758783, 318.49756161,
       265.30152542, 472.0637509 , 314.07370393, 497.2372046 ,
       290.94796676, 278.36733067, 330.5045111 , 360.8670298 ,
       316.9319142 , 456.85250722, 395.22737152, 361.57112845,
       389.18739899, 517.3727288 , 429.83942058, 227.90280941,
       334.20677165, 303.3527399 , 339.91549512, 433.16255772,
       356.43227647, 370.597944  , 622.62291583, 319.78771492,
       478.6391514 , 373.58155844, 214.3147931 , 320.21860154,
       401.69513709, 417.23545455, 278.90059577, 335.76439519,
       286.29519862, 414.95703852, 400.35803447, 236.72075205,
       462.35911075, 302.58962121, 430.94474428, 354.76305403,
       376.9999642 , 396.10264777, 324.68108225, 369.58336941,
       222.65137807, 426.68842163, 303.01843157, 403.837887  ,
       352.27797827, 456.79704129, 440.23663942, 294.02443695,
       252.32367396, 445.42549062, 489.96372572, 388.46703499,
       414.96114899, 432.9695714 , 468.92458958, 385.92794775,
       422.03353972, 321.04977861, 372.15077478, 317.57025364,
       463.86137216, 421.95143745, 379.52769342, 453.41513853,
       378.69982051, 338.21623973, 323.40630751, 442.04825952,
       247.10667582, 467.95371642, 278.33758783, 318.49756161,
       265.30152542, 472.0637509 , 314.07370393, 497.2372046 ,
       290.94796676, 278.36733067, 330.5045111 , 360.8670298 ,
       316.9319142 , 456.85250722, 395.22737152, 361.57112845,
       389.18739899, 517.3727288 , 429.83942058, 227.90280941,
       334.20677165, 303.3527399 , 339.91549512, 433.16255772,
       356.43227647, 370.597944  , 622.62291583, 319.78771492,
       478.6391514 , 373.58155844, 214.3147931 , 320.21860154,
       401.69513709, 417.23545455, 278.90059577, 335.76439519,
       286.29519862, 414.95703852, 400.35803447, 236.72075205,
       462.35911075, 302.58962121, 430.94474428, 354.76305403,
       376.9999642 , 396.10264777, 324.68108225, 369.58336941,
       222.65137807, 426.68842163, 303.01843157, 403.837887  ,
       352.27797827, 456.79704129, 440.23663942, 294.02443695,
       252.32367396, 445.42549062, 489.96372572, 388.46703499,
       414.96114899, 432.9695714 , 468.92458958, 385.92794775,
       422.03353972, 321.04977861, 372.15077478, 317.57025364,
       463.86137216, 421.95143745, 379.52769342, 453.41513853,
       378.69982051, 338.21623973, 323.40630751, 442.04825952,
       247.10667582, 467.95371642, 278.33758783, 318.49756161,
       265.30152542, 472.0637509 , 314.07370393, 497.2372046 ,
       290.94796676, 278.36733067, 330.5045111 , 360.8670298 ,
       316.9319142 , 456.85250722, 395.22737152, 361.57112845,
       389.18739899, 517.3727288 , 429.83942058, 227.90280941])

In [119]:
test_df['Offence Count'] = y
test_df['cost'] = val_preds

In [120]:
test_df.head()

,LGA_NAME23,LGA_CODE23,name,geometry,cost,beds,baths,parkings,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,distance_to_cbd,year,Offence Count,population,weekly_income
0,Alpine,20110,34 O'Donnell Avenue Myrtleford VIC 3737,POINT (146.7271339 -36.5522656),334.206772,2.0,1.0,2.0,46.428333,5.346667,38.880000,29.888333,2.526667,2.446667,999.000,2024,483.81,13547.0,899.635833
1,Ararat,20260,4 Grano Street Ararat VIC 3377,POINT (142.9414137 -37.2818641),303.352740,3.0,1.0,1.0,2.428333,28.928333,2.536667,999.000000,1.433333,3.033333,999.000,2024,1440.78,11884.0,764.993354
2,Ballarat,20570,3/41 Longley Street Alfredton VIC 3350,POINT (143.8376317 -37.5653948),339.915495,3.0,2.0,2.0,7.341667,9.785000,6.483333,24.810000,2.235000,4.776667,999.000,2024,10813.43,169198.0,980.445606
3,Banyule,20660,3 Clinton Street Heidelberg Heights VIC 3081,POINT (145.0598679 -37.7598674),433.162558,3.0,1.0,1.0,2.876667,11.215000,9.528333,5.353333,1.760000,2.630000,23.140,2024,8373.53,138961.0,824.611943
4,Bass Coast,20740,23 Carpathia Street Coronet Bay VIC 3984,POINT (145.4968004 -38.4790177),356.432276,3.0,2.0,2.0,86.750000,32.095000,22.930000,39.630000,3.885000,7.376667,116.675,2024,2984.93,39431.0,717.487857

In [121]:
train_df.to_csv("../data/scoring/past_data.csv")
test_df.to_csv("../data/scoring/future_data.csv")